@media (max-width: 1239px) {
    .contentFirst {
        display: flex;
        flex-direction: column;
    }

    .contentSecond {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 770px) {
    .ulHeaderNavigation {
        display: none;
    }

    .nullDiv {
        display: block;
    }

    .headerNavigation:hover .ulHeaderNavigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerMenu {
        display: none;
    }
}

@media (max-width: 600px) {
    .item {
        display: none;
    }
}